/**
 * Custom Style for Redirect Control
 *
 * @package Ogma Blog
 */
.redirect-item {
	background: #4abbd5;
	color: #fff;
	display: block;
	padding: 12px 20px;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
}

.redirect-item-icon {
	float: right;
}

.redirect-item:hover {
	background: #38aac4;
}
