/**
 * Custom Style for Heading Control
 *
 * @package Ogma Blog
 */

.ogma-blog-customizer-heading {
    display: block;
    margin: 0 -12px;
    padding: 13px 12px;
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.3px;
    line-height: 1;
    text-transform: uppercase;
}

.customize-control-ogma-blog-heading .description {
    margin-top: 10px;
}