/**
 * Custom Style for Repeater Control
 *
 * @package Ogma Blog
 */
 
.ogma-blog-clearfix:after,
.ogma-blog-clearfix:before{
    content: "";
    display: table;
}

.ogma-blog-clearfix:after{
    clear: both;
}

.ogma-blog-repeater-field-control{
    background: #FFF;
    margin-bottom: 12px;
    display: block;
}

.ogma-blog-repeater-footer{
    margin-top: 15px;
    text-align: right;
}

.ogma-blog-repeater-field-control:first-child .ogma-blog-repeater-footer{
    display: none;
}

.ogma-blog-repeater-field-title{
    padding: 13px 15px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    border-bottom: 0;
}

.ogma-blog-repeater-field-title:after {
    content: "\f142";
    font: 400 20px/1 dashicons;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 2px 1px 0;
    margin-top: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.ogma-blog-repeater-field-control.expanded .ogma-blog-repeater-field-title:after{
    content: "\f140";
}

.ogma-blog-repeater-fields{
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: none;
}

.ogma-blog-repeater-fields .customize-control-title{
    margin-top: 10px;
}

.ogma-blog-repeater-field-control.expanded .ogma-blog-repeater-fields{
    display: block;
}

.ogma-blog-reapeater-add-control-field {
    float: right;
}

.ogma-blog-reapeater-add-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.ogma-blog-repeater-type-icon{
    overflow: hidden;
}

.ogma-blog-repeater-selected-icon{
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-right: 45px;
    cursor: pointer;
    font-size: 28px;
}

.ogma-blog-repeater-selected-icon span{
    position: absolute;
    background: #F6F6F6;
    right: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 20px;
}

.ogma-blog-repeater-selected-icon i{
    margin-top: 3%;
}

.ogma-blog-repeater-selected-icon span i {
    margin-top: 24%;
}

.ogma-blog-repeater-icon-list{
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    border-right: 0;
    border-top: 0;
    padding-bottom: 4%;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ogma-blog-repeater-icon-list li{
    float: left;
    margin: 4% 3% 0;
    height: 40px;
    width: 16%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
}

.ogma-blog-repeater-icon-list li:hover{
    background: #333;
    border: 1px solid #333;
    color: #FFF;
}

.ogma-blog-repeater-icon-list li.icon-active{
    background: #4ABBD5;
    border: 1px solid #4ABBD5;
    color: #FFF;
}

.customize-control-ogma-blog-repeater .ogma-blog-limit-msg {
    display:  none;
}

.customize-control-ogma-blog-repeater span.ogma-blog-limit-msg:nth-of-type(2) {
    display: block;
    background: #fff;
    padding: 10px 15px;
    margin: 10px 0 10px;
    border-left: 3px solid #ffb900;
}

button.ogma-blog-repeater-add-control-field {
    float: right;
}

.ogma-blog-repeater-add-control-field i {
    margin-right: 2%;
}

.ogma-blog-repeater-type-textarea textarea {
    width: 100%;
}

.ogma-blog-repeater-type-checkbox label {
    margin-top: 10px;
    display: block;
}

/*---- toggle field --*/

.repeater-toggle .toggle-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.repeater-toggle .toggle-wrapper input[type=checkbox] {
    display: none;
}

.repeater-toggle .toggle-wrapper label {
    background-color: #555d66;
    border-radius: 14px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    outline: none;
    position: relative;
    right: 0px;
    top: 2px;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 34px;
}

.repeater-toggle .toggle-wrapper label::after,
.repeater-toggle .toggle-wrapper label::before {
    content: "";
    display: block;
    position: absolute;
}

.repeater-toggle .toggle-wrapper label::after {
    border: 2px solid #555d66;
    border-radius: 50%;
    box-sizing: border-box;
    height: 12px;
    left: 4px;
    top: 4px;
    -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease;
    transition: background 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background 0.2s ease;
    transition: transform 0.2s ease, background 0.2s ease, -webkit-transform 0.2s ease;
    width: 12px;
}

.repeater-toggle .toggle-wrapper label::before {
    background-color: #eee;
    border-radius: 60px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    top: 2px;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.repeater-toggle .toggle-wrapper input[type=checkbox]:checked + label {
    background-color: #4ABBD5;
}

.repeater-toggle .toggle-wrapper input[type=checkbox]:checked + label::after {
    background-color: #4ABBD5;
    border: 2px solid #fff;
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.repeater-toggle .toggle-wrapper input[type=checkbox]:checked + label::before {
    background-color: #4ABBD5;
}

.repeater-toggle:hover .toggle-wrapper label::before {
    background-color: #d9dcdf;
}

.ogma-blog-repeater-field-control .heading-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 15px;
}

.ogma-blog-repeater-field-title {
    padding: 15px 0 15px 15px;
    border: none;
    flex: 1;
}

.ogma-blog-repeater-field-title::after {
    margin-right: 0;
}

.ogma-blog-repeater-field-control .field-display:hover {
    cursor: pointer;
    color: #4ABBD5;
}

.ogma-blog-repeater-field-control.item-not-visible {
    border: 1px dashed #aaa;
    color: #aaa;
}